# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
/contract_resources/node_modules/
/contract_resources/.eslintrc.js
/contract_resources/package.json
/contract_resources/package-lock.json
/contract_resources/require.cjs
/contract_resources/web3.min.js
/contract_resources/r.js
/contract_resources/browser-solc.js
contract_resources/test-ledger
/src/abis/
/contracts/@openzeppelin/contracts/
